[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"
tox = "*"
pytest = "*"

[packages]
colorama = "*"
bullet = "*"
pyfiglet = "*"
sshconf = "*"

[requires]
python_version = "3.7"
